/*
|--------------------------------------------------------------------------
| Reset Border Box
|--------------------------------------------------------------------------
|
| Prevent frustration and make padding more consistent
|
*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

/* to prevent a gap from showing below images in some browsers */
img {
  vertical-align: bottom;
}
